* {
    font-family: 'Fira Mono', monospace;
    font-size: large;
    color: rgba(0, 0, 0, 0);
    text-shadow: rgb(0, 255, 0) 1px 0 0px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: table;
    width: 370px;
    background-color: black;
}

container {
    margin-top: 10px;
    display: table-row;
}

container>icon {
    float: left;
}


container>a {
    width: auto;
    text-align: right;
}

container>av,
container>button {
    float: right;
}

container:active {
    text-shadow: rgb(0, 0, 0) 1px 0 1px;
    background-color: rgb(0, 255, 0);
}

container:active>icon,
container:active>a,
container:active>av,
container:active>button {
    text-shadow: rgb(0, 0, 0) 1px 0 1px;
}


body:after {
    background-image: linear-gradient(transparent, transparent 3px, rgba(34, 34, 34, 0.623));
    background-size: 4px 4px;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}